body {
    margin:0;
    font-size: 100%;
    height: 100vh;
    width: 100vw;
}

#container {
    display:grid;
    grid-template-areas: 
    'nv'
    'cn'
    'ft';
    grid-column: 100%;
}

nav {
    display: block; 
    grid-area: nv;
}

nav a {
    display: block;
    position: sticky;
    text-decoration: none;
    padding: 2%;
    background-color: red;
    float: left;
}

#head{
    text-align: center;
}

#search {
    float:right;
}